.search_form{
    padding: 50px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.search_field {
    width: 582px;
    height: 44px;
    border-radius: 25px;
}
.search_field:focus{
    outline: none;
}
#buttons {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding-top: 10px;
}
.submit_button{
    height: 44px;
    margin-left: 10px;
}
.advanced_search>div{
    padding: 10px;
    width: 100%;
}
.adv_s_row>label{
    display: inline-block;
    position: relative;
    width: 170px;    
}
.adv_s_row>input{
    position: relative;
    width: 390px;
}
.submit_button_adv{
    position: relative;
    margin-top: 10px;
    left: 247px;
    height: 44px;
    background-color: blue;
    color: white;
    border: none;
}